svg.tommy .node>rect {
    fill: #F5F5F5;
    height: 135px;
    /* width: 220px; */
    /* min-height: 100px; */
}

.field_0 {
    font-family: Impact;
    fill: grey;
}

.field_1 {
    font-family: Impact;
    fill: black;
}

.title-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px red;
    border-radius: 30px;
    font-size: 16px;
    color: black;
    height: 40px;
    width: 110px;
}

.flag-pic {
    margin-right: 5px;
}

.add-button {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px gray;
    border-radius: 5px;
}

.icon-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3333cc;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    height: 25px;
    width: 80px;
}

.cart-svg {
    margin-right: 10px;
}